#c{
    background-color: silver;
    color: pink;
    text-align: center;
    font-size: xx-large;
}
#d{
    background-color: violet;
    color: #ff6347;
}
h1{
    background-color: seagreen;
    color: aliceblue;
}